/* label{
    color: gray;
    position: absolute;
    padding-bottom: 20px;
}
input{
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
    background: black;
    width: 395px;
    height: 10px;
    color: white;
    margin: none;
    padding: 10px;
} */